<div class="wts-footer">
    <div class="wts-footer-social">
        <div fxFlex></div>
        <ul>
            <li>
                <a href="" class="wts-social-link wts-social-fb"></a>
            </li>
            <li>
                <a href="" class="wts-social-link wts-social-tt"></a>
            </li>
            <li>
                <a href="" class="wts-social-link wts-social-ig"></a>
            </li>
            <li>
                <a href="" class="wts-social-link wts-social-yt"></a>
            </li>
            <li>
                <a href="" class="wts-social-link wts-social-re"></a>
            </li>
        </ul>
    </div>
    <div class="wts-footer-container" fxLayout.gt-xs="row" fxLayout.xs="column">
        <div class="wts-footer-column" fxFlex>
            <h4>Support</h4>
            <ul>
                <li>
                    <a href="">Phone: +65 12378907</a>
                </li>
                <li>
                    <a href="">Mail: support@wtsingapore.com</a>
                </li>
                <li>
                    <a href="">Help</a>
                </li>
            </ul>
        </div>
        <div class="wts-footer-column" fxFlex>
            <h4>World Trip Singapore</h4>
            <ul>
                <li>
                    <a href="">How it works for tour guide</a>
                </li>
                <li>
                    <a href="">How it works for travellers</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
                <li>
                    <a href="">Terms & Conditions</a>
                </li>
                <li>
                    <a href="">Cancelation policy for guests</a>
                </li>
                <li>
                    <a href="">Cancelation policy for hosts</a>
                </li>
                <li>
                    <a href="">Partners</a>
                </li>
                <li>
                    <a href="">Become a partner</a>
                </li>
                <li>
                    <a href="">Become an ambassador</a>
                </li>
                <li>
                    <a href="">Other</a>
                </li>
            </ul>
        </div>
        <div class="wts-footer-column" fxFlex>
            <h4>Partners</h4>
            <ul>
                <li>
                    <a href="">Become a partner</a>
                </li>
                <li>
                    <a href="">Become a tour guide</a>
                </li>
            </ul>
        </div>
        <div class="wts-footer-column" fxFlex>
            <h4>Other</h4>
            <ul>
                <li>
                    <a href="">Why World Trip Singapore</a>
                </li>
                <li>
                    <a href="">Team</a>
                </li>
                <li>
                    <a href="">World Trip Singapore app</a>
                </li>
                <li>
                    <a href="">Press</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</div>
