<div class="wts-general-search" fxLayout="row">
    <div class="wts-card wts-card-sunken wts-card-hot-trips" fxFlex>
        <div fxLayout="row wrap" fxLayoutAlign="start start" class="wts-itineraries-wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.gt-xs="15px">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            <app-wts-itinerary-block (click)="openItinerary(itinerary)" [itinerary]="itinerary" *ngFor="let itinerary of (itineraries ? itineraries.slice(0, 10) : [])"></app-wts-itinerary-block>
        </div>
    </div>
    <div class="wts-search-filters">
        <div class="wts-search-dates wts-search-advanced" fxLayout="column">
            <div fxFlex>
                <div class="wts-search-label-upper">Start date</div>
                <div class="wts-input-wrap" fxLayout="row" style="margin-bottom: 15px">
                    <input type="text" name="itineraryPeriodFrom" placeholder="Starts.." [matDatepicker]="fromPicker" [(ngModel)]="searchAttr.start" [min]="minDate" fxFlex>
                    <button class="mat-button-circle" (click)="fromPicker.open()"><mat-icon>date_range</mat-icon></button>
                    <mat-datepicker #fromPicker md-min-date></mat-datepicker>
                </div>
                <div class="wts-search-label-upper">End Date</div>
                <div class="wts-input-wrap" fxLayout="row" style="margin-bottom: 15px">
                    <input type="text" name="itineraryPeriodTo" placeholder="Ends.." [matDatepicker]="toPicker" [(ngModel)]="searchAttr.end" [min]="minDate" fxFlex>
                    <button class="mat-button-circle" (click)="fromPicker.open()"><mat-icon>date_range</mat-icon></button>
                    <mat-datepicker #toPicker md-min-date></mat-datepicker>
                </div>
                <div class="wts-search-label-upper">Travellers</div>
                <div class="wts-input-wrap" fxLayout="row">
                    <input type="number" name="itineraryPeriodTo" placeholder="1"  [(ngModel)]="searchAttr.people" fxFlex>
                    <button class="mat-button-circle"><mat-icon class="mat-button-circle">wc</mat-icon></button>
                </div>
                <div class="wts-search-label-upper">Type</div>
                <div>
                    <div style="width: 100%">
                        <mat-chip-list #chipList>
                            <mat-chip
                                    *ngFor="let fruit of fruits"
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="remove(fruit)">
                                {{fruit}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input
                                    placeholder="Add types.."
                                    #fruitInput
                                    [formControl]="fruitCtrl"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                {{fruit}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
                <div class="wts-search-label-upper">Budget</div>
                <div class="wts-search-pricerange">
                    <div fxLayout="row">
                        <nouislider [connect]="true" [min]="0" [step]="1" [max]="10000" [tooltips]="[ true, true ]" [(ngModel)]="searchAttr.price"></nouislider>
                    </div>
                </div>
            </div>
            <div class="wts-search-footer">
                <button class="wts-button wts-button-primary" (click)="searchNow()" style="position: absolute;top: 0;left: 0;height: 100%;width: 100%">Search Now</button>
            </div>
        </div>
    </div>
</div>