@import "../../_core/styles/variables";

.wts-topbar {
  position: relative;
  z-index: 1000;
  //width: 100%;
  display: flex;
  padding: 0 $wts-spacing-inner-primary;
  align-items: center;
  //justify-content: center;
  //background: #ffffff96;
  background: linear-gradient(-90deg, #10409c3d 50%, #fff);
  height: $wts-topbar-height;
  box-sizing: border-box;
  //-webkit-box-shadow: 0 1px $wts-size-shadow-primary $wts-color-shadow-secondary;
  //-moz-box-shadow: 0 1px $wts-size-shadow-primary $wts-color-shadow-secondary;
  //box-shadow: 0 1px $wts-size-shadow-primary $wts-color-shadow-secondary;
  .wts-brand {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    img {
      width: 200px;
    }
  }
  .wts-topbar-tools {
    display: flex;
    align-items: center;
    button {
      //background: radial-gradient(#ffffff40, #ffffff30, #ffffff10, #ffffff00);
      background: transparent;
      color: #ffffff;
      //color: $wts-color-primary-dark;
      font-weight: 500;
      text-shadow: 0 0 2px #000;
      &.wts-button-bordered {
        padding: $wts-spacing-inner-third $wts-spacing-inner-primary;
      }
      &:hover {
        //color: $wts-color-secondary;
      }
      &.wts-menu-img-button {
        overflow: hidden;
        /* align-items: center; */
        margin-left: $wts-spacing-inner-primary;
        position: relative;
        img {
          width: 100%;
          position: absolute;
        }
      }
    }
    .mat-menu-panel {
      width: 200px;
    }
    &.wts-topbar-tools-xs {
      .mat-icon {
        color: $wts-color-secondary;
        font-size: 25px;
        height: 25px;
        width: 25px;
        text-shadow: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .wts-topbar {
    padding: 0;
    background: #ffffff;
    .wts-topbar-tools {
      &.wts-topbar-tools-lg {
        display: none;
        &.-visible {
          position: absolute;
          padding: ($wts-spacing-inner-primary*2) $wts-spacing-inner-primary;
          top: $wts-topbar-height;
          left: 0;
          width: 100%;
          height: auto;
          background: #fff;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          -webkit-box-shadow: 0 ($wts-size-shadow-primary*3) ($wts-size-shadow-primary*3) $wts-color-shadow-secondary;
          -moz-box-shadow: 0 ($wts-size-shadow-primary*3) ($wts-size-shadow-primary*3) $wts-color-shadow-secondary;
          box-shadow: 0 ($wts-size-shadow-primary*3) ($wts-size-shadow-primary*3) $wts-color-shadow-secondary;
        }
      }
      button {
        color: $wts-color-text-secondary;
        text-shadow: none;
        &.wts-button-bordered {
          margin: $wts-spacing-inner-primary 0;
        }
      }
    }
  }
}