<div class="wts-topbar">
    <div class="wts-brand">
        <img (click)="goToHome()" src="./assets/worldtrip_singapore.png" alt="Worldtrip Singapore">
    </div>
    <div class="wts-topbar-tools wts-topbar-tools-lg" [ngClass]="{'-visible': xsToolsOn}">
        <button mat-button (click)="goToHome()">Home</button>
        <button *ngIf="currentUser.logged" mat-button (click)="navigateTo('become_tour_guide')">Become tour guide</button>
        <button mat-button (click)="navigateTo('about_us')">About Us</button>
        <button mat-button (click)="navigateTo('contact_us')">Contact Us</button>
        <button *ngIf="!currentUser.logged" mat-button (click)="navigateTo('auth/signin')">Log In</button>
        <button *ngIf="!currentUser.logged" mat-button class="wts-button-bordered" (click)="navigateTo('auth/signup')">Sign
            Up</button>
        <!--<button *ngIf="currentUser.logged" mat-button (click)="userAccount()">Account</button>-->
        <!--<button *ngIf="currentUser.logged" mat-button class="wts-button-bordered" (click)="logOut()">Log Out</button>-->
        <button *ngIf="currentUser.logged" mat-button class="wts-button-bordered" (click)="navigateTo('itineraries')">My Itineraries</button>
    </div>
    <div class="wts-topbar-tools wts-topbar-tools-xs">
        <button *ngIf="currentUser.logged" type="button" class="wts-menu-img-button mat-button-circle wts-button-primary"
                [matMenuTriggerFor]="menu">
            <img src="{{user.image_url ? user.image_url : '../assets/user_male.jpg'}}">
        </button>
        <button type="button" class="wts-button-circle wts-button-primary" fxHide.gt-xs="true" (click)="toggleXsMenu()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="wts-topbar-menu">
            <button mat-menu-item (click)="navigateTo('profile')">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="userAccount()">
                <mat-icon>account_circle</mat-icon>
                <span>Account</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>
    </div>
</div>