//COLORS
$wt-color-primary           : #5b8eef;
$wt-color-primary-light     : #ffc9f8;
$wt-color-secondary         : #f489f1;
$wt-color-secondary-light   : #77bbf5;
//--------------------------------------
$wt-color-border-primary    : #aaa;
$wt-color-border-secondary  : #eee;
//--------------------------------------
$wt-color-shadow-primary    : #eee;
$wt-color-shadow-secondary  : #aaa;

//SPACING
$wt-spacing-inner-primary   : 15px;
$wt-spacing-inner-secondary : 10px;
$wt-spacing-inner-third     : 5px;

//BORDER
$wt-border-radius-primary   : 10px;
$wt-border-radius-secondary : 5px;

//SIZES
$wt-size-shadow-primary     : 5px;
$wt-size-shadow-secondary   : 10px;
//--------------------------------------
$wt-topbar-height           : 50px;
