<app-wts-banner-common [user]="user"></app-wts-banner-common>
<div class="wts-itineraries">
    <div class="wts-main-wrap" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
         fxLayoutAlign="center" fxLayoutWrap>
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
            <div>
                <div class="wts-guide-acc-summary" fxLayout="row wrap" fxLayoutGap="20px" fxFlex>
                    <div class="wts-card wts-guide-sum-item" fxFlex>
                        <div class="wts-guide-sum-item-label">
                            <mat-icon>thumb_up_alt_outlined</mat-icon>
                        </div>
                        <div class="wts-guide-sum-item-value">0</div>
                    </div>
                    <div class="wts-card wts-guide-sum-item" fxFlex>
                        <div class="wts-guide-sum-item-label">
                            <mat-icon>photo_album</mat-icon>
                        </div>
                        <div class="wts-guide-sum-item-value">0</div>
                    </div>
                    <div class="wts-card wts-guide-sum-item" fxFlex>
                        <div class="wts-guide-sum-item-label">
                            <mat-icon>star</mat-icon>
                        </div>
                        <div class="wts-guide-sum-item-value">0</div>
                    </div>
                </div>
            </div>
            <div  class="wts-card wts-card-sunken wts-space-h-p">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">My Itineraries</h2>
                    </div>
                </div>
                <div class="wts-space-h-p">
                    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                    <div *ngIf="!loading" fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px" class="wts-itineraries-wrap">
                        <app-wts-itinerary-block (click)="openItinerary(itinerary)" [itinerary]="itinerary" *ngFor="let itinerary of myitineraries"></app-wts-itinerary-block>
                    </div>
                </div>
            </div>
        </div>
        <div class="wts-card" fxFlex="20%">
            <div class="wts-card-header">
                <div class="wts-card-header-flex">
                    <h2 class="wts-header-2">
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon">
                                <mat-icon>settings</mat-icon>
                            </div>
                            Settings
                        </div>
                    </h2>
                </div>
            </div>
            <div>
                <button class="wts-button-primary" (click)="createItinerary()">Create Itinerary</button>
                <!--<ul class="wts-list">-->
                <!--<li class="wts-list-item wts-clickable" (click)="editProfile()">-->
                <!--<div class="wts-textbox wts-textbox-horizontal">-->
                <!--<div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>edit</mat-icon></div> Create new Itinerary-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</div>