<div class="wts-banner" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <div class="wts-acc-bnr-img-wrap" fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div class="wts-acc-bnr-img">
            <img src="./assets/user_male.jpg" alt="">
        </div>
    </div>
    <div class="wts-acc-bnr-content" fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div class="wts-acc-bnr-userinfo" fxLayout="column" fxLayoutAlign.xs="start center">
                <div class="wts-space-h-p">
                    <h1>{{profile ? profile.fname + ' ' + profile.lname : 'Hello'}}</h1>
                </div>
                <div class="wts-acc-bnr-summary">
                    <div class="wts-acc-bnr-sum-item">
                        <div class="wts-bnr-rating-block">
                            <div class="wts-rating-val">
                                4.6
                            </div>
                            <div class="wts-rating-info">
                                <div class="wts-rate-info-service">
                                    Service Rating <b>(89)</b>
                                </div>
                                <div class="wts-rate-info-stars">
                                    <mat-icon class="rated_full">star</mat-icon>
                                    <mat-icon class="rated_full">star</mat-icon>
                                    <mat-icon class="rated_full">star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wts-acc-bnr-summary">
                <div class="wts-acc-bnr-sum-item" fxFlex="33.33%">
                    <div class="wts-bnr-itm-value">0</div>
                    <div class="wts-bnr-itm-label">Likes</div>
                </div>
                <div class="wts-acc-bnr-sum-item" fxFlex="33.33%">
                    <div class="wts-bnr-itm-value">0</div>
                    <div class="wts-bnr-itm-label">Itineraries</div>
                </div>
                <div class="wts-acc-bnr-sum-item" fxFlex="33.33%">
                    <div class="wts-bnr-itm-value">0</div>
                    <div class="wts-bnr-itm-label">Ratings</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wts-itineraries">
    <div class="wts-main-wrap" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
         fxLayoutAlign="center" fxLayoutWrap>
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
            <div class="wts-card wts-card-sunken wts-space-h-p">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">My Itineraries</h2>
                    </div>
                </div>
                <div class="wts-space-h-p">
                    <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>
                    <div *ngIf="!loading" fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column"
                         fxLayoutGap="15px">
                        <div class="wts-itinerary-widget"
                             (click)="openItinerary(itinerary)"
                             *ngFor="let itinerary of itineraries">
                            <div class="wts-it-wid-backdrop">
                                <img src="{{ itinerary.backdrop }}" alt="{{ itinerary.title }}">
                            </div>
                            <div class="wts-it-wid-info">
                                <div class="wts-it-wid-userinfo">
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div class="wts-it-wid-userpic">
                                            <img src="{{itinerary.guide.picture}}" alt="{{itinerary.guide.name}}">
                                        </div>
                                        <div class="wts-it-wid-username">{{ itinerary.guide.name }}</div>
                                        <div class="wts-it-wid-rate-stars">
                                            <mat-icon *ngFor="let s of itinerary.guide.stars">star</mat-icon>
                                        </div>
                                        <div class="wts-it-wid-rate-value">{{ itinerary.guide.rating | number : '1.1'
                                            }}
                                        </div>
                                    </div>
                                </div>
                                <div class="wts-it-wid-desc">
                                    <div class="wts-it-wid-price">${{ itinerary.price }}/ per Person</div>
                                    <div>
                                        <h3 class="wts-header-3">{{ itinerary.title }}</h3>
                                        <p>{{ itinerary.description | slice:0:80 }}...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wts-card" fxFlex="20%">
            <div class="wts-card-header">
                <div class="wts-card-header-flex">
                    <h2 class="wts-header-2">
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon">
                                <mat-icon>settings</mat-icon>
                            </div>
                            Settings
                        </div>
                    </h2>
                </div>
            </div>
            <div>
                <button class="wts-button-primary" (click)="createItinerary()">Create Itinerary</button>
                <!--<ul class="wts-list">-->
                <!--<li class="wts-list-item wts-clickable" (click)="editProfile()">-->
                <!--<div class="wts-textbox wts-textbox-horizontal">-->
                <!--<div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>edit</mat-icon></div> Create new Itinerary-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</div>