@import "variables";
@import "helpers";

.wts-itineraries {
  background: $wts-color-highlight-lightgray;
  padding: $wts-spacing-inner-primary * 3;
}

@media only screen and (max-width: 600px) {
  .wts-acc-bnr-summary {
    background: #ffffff30;
  }
  .wts-acc-bnr-sum-item {
    padding: $wts-spacing-inner-third 0;
  }
}