@import "../../_core/styles/variables";

.wts-landing-banner-wrap {
  background: linear-gradient(to bottom right, $wts-color-primary-light, $wts-color-secondary-light);
  .wts-landing-banner {
    flex: 3;
    height: 350px;
    width: 90%;
    margin: 0 auto;
    //background: url("../../assets/worldtrip_bg_onboarding.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
