<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="822032164383-qqbmt84lubtd9c3niaoblpcpbfoq0qis.apps.googleusercontent.com">
<div class="wts-onboarding" id="wts-onboarding">
    <div class="wts-auth-wrap" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
        <div class="wts-flex-1 wts-auth-banner" fxShow.xs="false">
            <h1>One experience, <br> at a time..</h1>
        </div>
        <div class="wts-auth-body">
            <div class="wts-card wts-card-fill wts-auth-card">
                <div *ngIf="!confirmOn" class="wts-auth-method">
                    <div class="wts-sub-heading">
                        <h3>{{ signInOn ? 'Login' : 'Sign up'}} with your email</h3>
                    </div>
                    <form *ngIf="signInOn" action="" autocomplete="off" (ngSubmit)="onLogin($event)" #usrForm="ngForm">
                        <div class="wts-input-wrap">
                            <input id="email" name="username" class="wts-input-block" ngModel autocomplete="off" type="text" placeholder="Email" required>
                        </div>
                        <div class="wts-input-wrap">
                            <input type="password" id="password" name="password" class="wts-input-block" ngModel autocomplete="off" placeholder="Password" required>
                        </div>
                        <div class="wts-input-wrap">
                            <button type="submit" class="wts-button-secondary wts-button-local">{{!isLoading ? 'Sign In' : ''}} <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                            </button>
                        </div>
                    </form>
                    <form *ngIf="!signInOn" action="" autocomplete="off" (ngSubmit)="onSignup($event)" #usrForm="ngForm">
                        <div class="wts-input-wrap" style="display: flex;align-items: center;position: relative;">
                            <mat-spinner diameter="20" *ngIf="geolocloading" style="display: inline-block;position:absolute;font-size: 15px;margin: 0 10px;color: #888"></mat-spinner>
                            <span *ngIf="!geolocloading" style="display: inline-block;position:absolute;font-size: 15px;margin: 0 10px;color: #888">
                                {{countryCode}}
                            </span>
                            <input id="mobile" name="mobile" class="wts-input-block" ngModel autocomplete="off" type="text" placeholder="Mobile" required style="padding-left: 50px">
                        </div>
                        <div class="wts-input-wrap">
                            <input id="email" name="email" class="wts-input-block" ngModel autocomplete="off" type="text" placeholder="Email" required>
                        </div>
                        <div class="wts-input-wrap">
                            <input type="password" id="password" name="password" class="wts-input-block" ngModel autocomplete="off" placeholder="Password" required>
                        </div>
                        <div class="wts-input-wrap">
                            <button type="submit" class="wts-button-secondary wts-button-local">
                                {{!isLoading ? 'Sign Up' : ''}} <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                            </button>
                        </div>
                    </form>
                    <div class="_divider"></div>
                    <div class="wts-auth-signup-link">
                        <span *ngIf="signInOn">Don't have an account? <a (click)="goToSignup()">Sign Up</a></span>
                        <span *ngIf="!signInOn">Go back to <a (click)="goToSignin()">Sign in</a></span>
                    </div>
                    <div class="wts-third-heading">
                        <h3>or..</h3>
                    </div>
                    <div id="facebookLogin">
                        <button type="button" class="wts-button-fb" mat-raised-button (click)="_initFacebookSignin();">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" class="_5h0m" color="#FFFFFF">
                                <path fill="#FFFFFF" d="
          M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
          11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
          11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
          15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
          11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z"></path>
                            </svg>
                            <div class="wts-button-fb-text">
                                {{ signInOn ? 'Sign in' : 'Continue'}} with Facebook
                            </div>
                        </button>
                    </div>
                    <div id="googleLogin">
                        <!--<div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>-->
                        <button type="button" #gbtn class="wts-button-g" id="wts-button-g" mat-raised-button
                                (click)="_initGoogleSignin(gbtn);">
                            <div class="wts-button-g-icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                    <g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                       sketch:type="MSPage">

                                        <g id="btn_google_dark_normal" sketch:type="MSArtboardGroup"
                                           transform="translate(-1.000000, -1.000000)">
                                            <g id="logo_googleg_48dp" sketch:type="MSLayerGroup"
                                               transform="translate(15.000000, 15.000000)">
                                                <path d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z"
                                                      id="Shape" fill="#4285F4" sketch:type="MSShapeGroup"></path>
                                                <path d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z"
                                                      id="Shape" fill="#34A853" sketch:type="MSShapeGroup"></path>
                                                <path d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z"
                                                      id="Shape" fill="#FBBC05" sketch:type="MSShapeGroup"></path>
                                                <path d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z"
                                                      id="Shape" fill="#EA4335" sketch:type="MSShapeGroup"></path>
                                                <path d="M0,0 L18,0 L18,18 L0,18 L0,0 Z" id="Shape"
                                                      sketch:type="MSShapeGroup"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="wts-button-fb-text">
                                {{ signInOn ? 'Sign in' : 'Continue'}} with Google
                            </div>
                        </button>
                    </div>
                </div>
                <div *ngIf="confirmOn" class="wts-auth-method">
                    <p>An email have been sent with a confirmation code to the address you entered.</p>
                    <form action="" autocomplete="off" (ngSubmit)="onConfirm($event)" #usrForm="ngForm">
                        <div class="wts-input-wrap">
                            <input type="text" id="validationCode" name="validationCode" class="wts-input-block" ngModel autocomplete="off" placeholder="Code" required>
                        </div>
                        <div class="wts-input-wrap">
                            <button type="submit" class="wts-button-secondary wts-button-local">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
