@import "../../_core/styles/variables";

.wts-landing-banner-wrap {
  //background: linear-gradient(to bottom right, $wts-color-primary-light, $wts-color-secondary-light);
  .wts-landing-banner {
    flex: 3;
    height: 350px;
    width: 90%;
    margin: 0 auto;
    //background: url("../../assets/worldtrip_bg_onboarding.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.wts-banner {
  position: relative;
  margin-top: -$wts-topbar-height;
  height: $wts-banner-height + $wts-banner-height;
  background: url("../../assets/backdrop_2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  .wts-banner-text {
    font-size: 40px;
    line-height: 70px;
    color: #ffffff;
    p {
      font-size: 14px!important;
      color: #ffffff;
      line-height: initial;
      text-shadow: $wts-shadow-text-secondary;
    }
  }
  .wts-banner-gen-search {
    width: 100%;
    padding: 0 $wts-spacing-inner-primary * 5;
    background: linear-gradient(#00000000, #00000050);
    .wts-label {
      color: $wts-color-text-secondary;
    }
  }
  .wts-search-type {
    width: 100%;
    justify-content: center;
    padding-left: $wts-spacing-inner-primary;
    padding-right: $wts-spacing-inner-primary;
  }
  .wts-search-dates {
    padding: $wts-spacing-inner-primary * 2;
    background: #ffffff;
    box-shadow: 0 5px $wts-size-shadow-secondary $wts-color-shadow-secondary;
    text-align: center;
    &>h3 {
      margin-top: 0;
    }
    .wts-label {
      margin-top: $wts-spacing-inner-primary;
    }
    .wts-search-label-upper {
      text-transform: uppercase;
      font-size: 10px;
      text-align: left;
      margin: $wts-spacing-inner-primary 0 $wts-spacing-inner-third 0;
    }
    .wts-input-wrap {
      padding: 0 $wts-spacing-inner-third;
      background: #ffffff30;
      border-radius: $wts-border-radius-secondary;
      box-shadow: 0 1px $wts-size-shadow-primary $wts-color-shadow-secondary;
      input {
        background: transparent;
        padding: $wts-spacing-inner-secondary;
        border: none;
        width: auto;
      }
      .mat-button-circle {
        background: transparent;
        .mat-icon {
          color: $wts-color-primary;
        }
      }
    }
    .wts-search-footer {
      padding: $wts-spacing-inner-primary;
      background: $wts-color-primary;
      color: #ffffff;
      margin-top: $wts-spacing-inner-primary * 2;
      margin-right: -$wts-spacing-inner-primary * 2;
      margin-left: -$wts-spacing-inner-primary * 2;
      margin-bottom: -$wts-spacing-inner-primary * 2;
    }
  }
  .wts-search-pricerange {
    box-sizing: border-box;
    padding: $wts-spacing-inner-primary*2 $wts-spacing-inner-primary 0 $wts-spacing-inner-primary;
    width: 100%;
    text-align: center;
  }
}
.wts-general{
  background: $wts-color-highlight-lightgray;
  //height: 100%;
  overflow: auto;
  .wts-card-sunken {
    background: $wts-color-highlight-lightgray;
    &.wts-card-top-guides {
      background: $wts-color-highlight-gray;
    }
  }
  .wts-itinerary-guide-img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 3px #eee;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    background: $wts-color-highlight-gray;
    img {
      width: 110%;
      //border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wts-top-guides {
    overflow-x: scroll;
  }
}