<div class="wts-banner" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <div class="wts-banner-gen-search" fxLayout="column">
        <div class="wts-space-h-p wts-search-type">
            <div fxLayout="row" fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%">
                <button [matMenuTriggerFor]="menu" class="wts-search-area">{{ searchAttr.place }}</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="updateSearchArea(place)" *ngFor="let place of searchAttr.places">{{ place }}</button>
                </mat-menu>
                <div class="wts-input-wrap" fxFlex>
                    <mat-icon class="wts-serach-icon">search</mat-icon>
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <input class="wts-input-block" type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div class="wts-search-dates" fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
                    <div class="wts-input-wrap" fxFlex fxLayout="row">
                        <input type="text" name="itineraryPeriodFrom" placeholder="From.." [matDatepicker]="fromPicker" [(ngModel)]="searchAttr.start" fxFlex>
                        <button class="mat-button-circle" (click)="fromPicker.open()"><mat-icon>date_range</mat-icon></button>
                        <mat-datepicker #fromPicker></mat-datepicker>
                    </div>
                    <div class="wts-input-wrap" fxFlex fxLayout="row">
                        <input type="text" name="itineraryPeriodTo" placeholder="To.." [matDatepicker]="toPicker" [(ngModel)]="searchAttr.end" fxFlex>
                        <button class="mat-button-circle" (click)="toPicker.open()"><mat-icon>date_range</mat-icon></button>
                        <mat-datepicker #toPicker></mat-datepicker>
                    </div>
                </div>
                <span class="wts-label">Duration</span>
            </div>
            <div class="wts-search-pricerange">
                <div fxLayout="row">
                    <nouislider [connect]="true" [min]="0" [step]="1" [max]="15" [tooltips]="[ true, true ]" [(ngModel)]="searchAttr.pricerange"></nouislider>
                </div>
                <span class="wts-label">Tour guide service /per Person</span>
            </div>
        </div>
        <!--<button class="wts-button-primary">Search</button>-->
    </div>
</div>
<div class="wts-general">
    <div class="wts-card wts-card-sunken wts-card-top-guides">
        <div class="wts-card-header">
            <div class="wts-card-header-flex">
                <h2 class="wts-header-2">Top Guides</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" fxLayoutAlign.xs="start" class="wts-top-guides">
            <div class="wts-card wts-text-center" fxLayout="column" fxLayoutAlign="center" *ngFor="let guide of topGuides">
                <div class="wts-itinerary-guide-img">
                    <img src="{{guide.picture}}" alt="{{guide.name}}">
                </div>
                <span>{{ guide.name }}</span>
            </div>
        </div>
    </div>
    <div class="wts-card wts-card-sunken">
        <div class="wts-card-header">
            <div class="wts-card-header-flex">
                <h2 class="wts-header-2">Hot Trips</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div class="wts-itinerary-widget"
                 (click)="openItinerary(itinerary)"
                 *ngFor="let itinerary of itineraries">
                <div class="wts-it-wid-backdrop">
                    <img src="{{ itinerary.backdrop }}" alt="{{ itinerary.title }}">
                </div>
                <div class="wts-it-wid-info">
                    <div class="wts-it-wid-userinfo">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div class="wts-it-wid-userpic">
                                <img src="{{itinerary.guide.picture}}" alt="{{itinerary.guide.name}}">
                            </div>
                            <div class="wts-it-wid-username">{{ itinerary.guide.name }}</div>
                            <div class="wts-it-wid-rate-stars">
                                <mat-icon *ngFor="let s of itinerary.guide.stars">star</mat-icon>
                            </div>
                            <div class="wts-it-wid-rate-value">{{ itinerary.guide.rating | number : '1.1' }}</div>
                        </div>
                    </div>
                    <div class="wts-it-wid-desc">
                        <div class="wts-it-wid-price">${{ itinerary.price }}/ per Person</div>
                        <div>
                            <h3 class="wts-header-3">{{ itinerary.title }}</h3>
                            <p>{{ itinerary.description | slice:0:80 }}...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wts-card wts-card-sunken">
        <div class="wts-card-header">
            <div class="wts-card-header-flex">
                <h2 class="wts-header-2">Hot Places</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="15px">
            <div class="wts-card wts-card-round wts-image-card" *ngFor="let loc of topLocations">
                <span class="wts-overhead-text">{{ loc.name }}</span>
                <img src="{{ loc.picture }}">
            </div>
        </div>
    </div>
</div>