@import "../../_core/styles/variables";

.wts-landing-banner-wrap {
  //background: linear-gradient(to bottom right, $wts-color-primary-light, $wts-color-secondary-light);
  .wts-landing-banner {
    flex: 3;
    height: 350px;
    width: 90%;
    margin: 0 auto;
    //background: url("../../assets/worldtrip_bg_onboarding.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.wts-banner {
  position: relative;
  margin-top: -$wts-topbar-height;
  height: $wts-banner-height + $wts-banner-height;
  background: url("../../assets/13.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  .wts-banner-text {
    font-size: 40px;
    line-height: 70px;
    color: #ffffff;
    h3 {
      font-size: 100px;
      line-height: 80px;
      //margin: 60px 0 35px 0;
    }
    p {
      font-size: 17px!important;
      color: #ffffff;
      line-height: initial;
      text-shadow: $wts-shadow-text-secondary;
    }
  }
  .wts-banner-gen-search {
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0 $wts-spacing-inner-primary * 5;
    background: linear-gradient(#00000000, #00000050);
    overflow: hidden;
    .wts-label {
      color: $wts-color-text-secondary;
    }
  }
  .wts-search-type {
    width: 100%;
    justify-content: center;
    padding-left: $wts-spacing-inner-primary;
    padding-right: $wts-spacing-inner-primary;
  }
  .wts-search-pricerange {
    box-sizing: border-box;
    padding: $wts-spacing-inner-primary*2 $wts-spacing-inner-primary 0 $wts-spacing-inner-primary;
    width: 100%;
    text-align: center;
  }
}
.wts-general{
  background: $wts-color-highlight-lightgray;
  //height: 100%;
  overflow: auto;
  .wts-card-sunken {
    background: $wts-color-highlight-lightgray;
    &.wts-card-top-guides {
      background: $wts-color-highlight-gray;
      padding: $wts-spacing-inner-primary * 3;
    }
    &.wts-card-hot-trips {
      padding: $wts-spacing-inner-primary * 3;
    }
    &.wts-card-hot-places {
      background: #ffffff;
      padding: $wts-spacing-inner-primary * 3;
      position: relative;
      z-index: 100;
    }
  }
  .wts-itinerary-guide-img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 3px #eee;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    background: $wts-color-highlight-gray;
    img {
      width: 110%;
      //border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wts-top-guides {
    overflow-x: scroll;
  }
  .wts-banner {
    .wts-banner-gen-search {
      height: 100%;
    }
  }
}