@import "../../_core/styles/variables";

.wts-landing-banner-wrap {
  background: linear-gradient(to bottom right, $wts-color-primary-light, $wts-color-secondary-light);
  .wts-landing-banner {
    flex: 3;
    height: 350px;
    width: 90%;
    margin: 0 auto;
    background: url("../../assets/worldtrip_bg_onboarding.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.wts-banner {
  height: $wts-banner-height + $wts-banner-height/2;
  margin-bottom: 0;
  .wts-banner-gen-search {
    width: 100%;
    .wts-label {
      color: $wts-color-text-secondary;
    }
  }
  .wts-search-type {
    width: 100%;
    justify-content: center;
    padding-left: $wts-spacing-inner-primary;
    padding-right: $wts-spacing-inner-primary;
  }
  .wts-search-dates {
    text-align: center;
    .wts-label {
      margin-top: $wts-spacing-inner-primary;
    }
    .wts-input-wrap {
      padding: 0 $wts-spacing-inner-third;
      background: #ffffff30;
      border-radius: $wts-border-radius-secondary;
      input {
        background: transparent;
        padding: $wts-spacing-inner-secondary;
        border: none;
        width: auto;
      }
      .mat-button-circle {
        background: transparent;
        .mat-icon {
          color: $wts-color-primary;
        }
      }
    }
  }
  .wts-search-pricerange {
    padding: $wts-spacing-inner-primary*2 $wts-spacing-inner-primary 0 $wts-spacing-inner-primary;
    width: 100%;
    text-align: center;
  }
}
.wts-general{
  background: $wts-color-highlight-lightgray;
  //height: 100%;
  overflow: auto;
  .wts-card-sunken {
    background: $wts-color-highlight-lightgray;
    &.wts-card-top-guides {
      background: $wts-color-highlight-gray;
    }
  }
  .wts-itinerary-guide-img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 3px #eee;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
    background: $wts-color-highlight-gray;
    img {
      width: 110%;
      //border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wts-top-guides {
    overflow-x: scroll;
  }
}