<div class="wts-banner" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <div class="wts-banner-gen-search" fxLayout="row">
        <!--<div class="wts-space-h-p wts-search-type">-->
            <!--<div fxLayout="row" fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%">-->
                <!--<button [matMenuTriggerFor]="menu" class="wts-search-area">{{ searchAttr.place }}</button>-->
                <!--<mat-menu #menu="matMenu">-->
                    <!--<button mat-menu-item (click)="updateSearchArea(place)" *ngFor="let place of searchAttr.places">{{ place }}</button>-->
                <!--</mat-menu>-->
                <!--<div class="wts-input-wrap" fxFlex>-->
                    <!--<mat-icon class="wts-serach-icon">search</mat-icon>-->
                    <!--<div fxLayout="row" fxLayoutAlign="center start">-->
                        <!--<input class="wts-input-block" type="text" placeholder="Search...">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="wts-banner-text" fxFlex fxShow.xs="false">
            <h3>Live Like Local</h3>
            <p>
                We connect travellers and locals directly for an unforgettable experience
            </p>
        </div>
        <div class="wts-search-dates">
            <h3>Book a Tour Guide</h3>
            <div class="wts-search-label-upper">Select tour start date</div>
            <div class="wts-input-wrap" fxLayout="row" style="margin-bottom: 15px">
                <input type="text" name="itineraryPeriodFrom" placeholder="On.." [matDatepicker]="fromPicker" [(ngModel)]="searchAttr.start" fxFlex>
                <button class="mat-button-circle" (click)="fromPicker.open()"><mat-icon>date_range</mat-icon></button>
                <mat-datepicker #fromPicker></mat-datepicker>
            </div>
            <div class="wts-search-label-upper">Travellers</div>
            <div class="wts-input-wrap" fxLayout="row">
                <input type="number" name="itineraryPeriodTo" placeholder="1"  [(ngModel)]="searchAttr.end" fxFlex>
                <button class="mat-button-circle"><mat-icon class="mat-button-circle">wc</mat-icon></button>
            </div>
            <div class="wts-search-footer">
                <button class="wts-button wts-button-primary" (click)="searchNow()" style="position: absolute;top: 0;left: 0;height: 100%;width: 100%">Search Now</button>
            </div>
        </div>
        <!--<button class="wts-button-primary">Search</button>-->
    </div>
</div>
<div class="wts-general">
    <!-- <div class="wts-card wts-card-sunken wts-card-top-guides">
        <div class="wts-card-header">
            <div class="wts-card-header-flex">
                <h2 class="wts-header-2">Top Guides</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" fxLayoutAlign.xs="start" class="wts-top-guides">
            <div class="wts-card wts-text-center wts-card-clickable" fxLayout="column" fxLayoutAlign="center" *ngFor="let guide of topGuides" (click)="goToProfile(guide)">
                <div class="wts-itinerary-guide-img">
                    <img src="{{guide.image_url}}" alt="{{guide.fname}} {{guide.lname}}">
                </div>
                <span>{{ guide.fname }}</span>
            </div>
        </div>
    </div> -->
    <div class="wts-card wts-card-sunken wts-card-hot-trips">
        <div class="wts-card-header">
            <div class="wts-card-header-flex">
                <h2 class="wts-header-2">Hot Trips</h2>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start start" class="wts-itineraries-wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>
            <app-wts-itinerary-block (click)="openItinerary(itinerary)" [itinerary]="itinerary" *ngFor="let itinerary of (itineraries ? itineraries.slice(0, 10) : [])"></app-wts-itinerary-block>
        </div>
    </div>
    <div class="wts-card wts-card-sunken wts-card-hot-places">
        <div class="wts-card-header">
            <div class="wts-card-header-flex">
                <h2 class="wts-header-2">Hot Places</h2>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="15px">
            <div class="wts-card wts-card-round wts-image-card" *ngFor="let loc of topLocations">
                <span class="wts-overhead-text">{{ loc.name }}</span>
                <img src="{{ loc.picture }}">
            </div>
        </div>
    </div>
</div>