<div class="wts-booking-setup">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Almost ready to get on board.</h2>
        <button type="button" (click)="onNoClick(false)" class="wts-button-third">Cancel</button>
    </div>
    <p>Please go through these simple steps to complete your booking.</p>
    <div class="wts-booking-header">
        <div class="wts-step-tab" [ngClass]="{'wts-step-tab-active' : tab.active, 'wts-step-tab-done' : tab.done }" *ngFor="let tab of bookingTabs">
            <span class="wts-step-number">
                <mat-icon *ngIf="tab.done">check</mat-icon>
                <span *ngIf="!tab.done">{{tab.number}}</span>
            </span>
            <span class="wts-step-title">{{tab.title}}</span>
        </div>
    </div>
    <mat-dialog-content class="wts-dialog">
        <div *ngIf="activeBookingStep === 0" class="wts-booking-step wts-booking-summary">
            <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="15px">
                <div class="wts-itinerary-image" fxFlex>
                    <img src="{{itinerary.backdrop}}" alt="">
                </div>
                <div class="wts-itinerary-info" fxFlex>
                    <h4>{{itinerary.title}}</h4>
                    <div class="wts-textbox" style="text-align: left; margin-bottom: 20px">
                        {{itinerary.description}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>event</mat-icon></div> {{itinerary.from | date: 'longDate'}} - {{itinerary.to | date: 'longDate'}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>location_on</mat-icon></div> {{itinerary.area }}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>rowing</mat-icon></div> {{itinerary.activities}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>fastfood</mat-icon></div> {{itinerary.services}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal" *ngIf="itinerary.guest_condition">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>accessible</mat-icon></div> {{itinerary.guest_condition}}
                    </div>
                    <!--<div class="wts-textbox wts-textbox-horizontal" *ngIf="itinerary.guest_type">-->
                    <!--<div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>language</mat-icon></div> {{itinerary.guest_type}}-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div *ngIf="activeBookingStep === 1" class="wts-booking-step wts-booking-traveller">
            <form name="bookingForm">
                <div class="wts-space-h-p">
                    <h3 class="wts-header-3">No of Travellers</h3>
                    <div class="wts-input-wrap">
                        <div fxFlex="50%">
                            <input type="number" min="1" name="noOfTravellers" class="wts-input-block-half" [(ngModel)]="bookingPayload.number_of_travellers" (change)="handleNoOfUsers()">
                        </div>
                    </div>
                </div>
                <div class="wts-card" *ngFor="let traveller of bookingPayload.travellers; let i = index">
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 15px">
                        <h3 class="wts-header-3">Traveller {{i + 1}} {{i === 0 ? '(Main)' : ''}}</h3>
                        <div class="wts-textbox wts-textbox-horizontal" *ngIf="i === 0">
                            <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>information</mat-icon></div> Primary traveller must be over 18.
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                        <div class="wts-input-wrap" fxFlex fxLayout="row">
                            <input type="text" name="firstName" placeholder="First name" [(ngModel)]="traveller.first_name" fxFlex>
                        </div>
                        <div class="wts-input-wrap" fxFlex fxLayout="row">
                            <input type="text" name="lastName" placeholder="Last name" [(ngModel)]="traveller.last_name" fxFlex>
                        </div>
                        <div class="wts-input-wrap" fxFlex fxLayout="row">
                            <input type="text" name="nic" placeholder="NIC/PP No"[(ngModel)]="traveller.nic" fxFlex>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                        <div class="wts-input-wrap" fxFlex fxLayout="row">
                            <mat-select placeholder="Dial code" name="phonePrefix" [(ngModel)]="traveller.phone_prefix">
                                <mat-option *ngFor="let code of countryCodes"  [value]="code.dial_code">
                                    {{code.dial_code}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="wts-input-wrap" fxFlex fxLayout="row">
                            <input type="number" name="phoneNumber" placeholder="Phone number" [(ngModel)]="traveller.phone_number" fxFlex>
                        </div>
                        <div class="wts-input-wrap" fxFlex fxLayout="row">
                            <input type="email" name="email" placeholder="Email" [(ngModel)]="traveller.email" fxFlex>
                        </div>
                    </div>
                    <div *ngIf="i === 0 || !traveller.main_traveller_address">
                        <div style="margin-top: 15px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                            <div class="wts-input-wrap" fxFlex fxLayout="row">
                                <mat-select placeholder="Country" name="phonePrefix" [(ngModel)]="traveller.country">
                                    <mat-option *ngFor="let country of countryCodes" name="country.name" [value]="country.name">
                                        {{country.name}}
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div class="wts-input-wrap" fxFlex fxLayout="row" [(ngModel)]="traveller.postal_code">
                                <input type="number" name="postalCode" placeholder="Postal code" fxFlex>
                            </div>
                            <div class="wts-input-wrap" fxFlex fxLayout="row"></div>
                        </div>
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
                            <div class="wts-input-wrap" fxFlex fxLayout="row">
                                <input type="text" name="addressLine1" placeholder="Address line 1" [(ngModel)]="traveller.address_line_1" fxFlex>
                            </div>
                            <div class="wts-input-wrap" fxFlex fxLayout="row">
                                <input type="text" name="addressLine2" placeholder="Address line 2" [(ngModel)]="traveller.address_line_2" fxFlex>
                            </div>
                            <div class="wts-input-wrap" fxFlex fxLayout="row">
                                <input type="text" name="addressLine3" placeholder="Address line 3" [(ngModel)]="traveller.address_line_2" fxFlex>
                            </div>
                        </div>
                    </div>

                    <div style="line-height: 25px" *ngIf="i === 0">
                        <input type="checkbox" name="useAsBillingAddress{{i}}" id="useAsBillingAddress{{i}}" [(ngModel)]="traveller.use_as_billing_address">
                        <label for="useAsBillingAddress{{i}}">Use as billing address</label>
                    </div>
                    <div style="line-height: 25px" *ngIf="i > 0">
                        <input type="checkbox" name="useMainAddress{{i}}" id="useMainAddress{{i}}" [(ngModel)]="traveller.main_traveller_address">
                        <label for="useMainAddress{{i}}">Use main traveller's address</label>
                    </div>
                    <div *ngIf="i === 0">
                        <div class="wts-space-h-p">
                            <mat-divider></mat-divider>
                        </div>
                        <div style="line-height: 25px">
                            <input type="checkbox" name="createProfile{{i}}" id="createProfile{{i}}" [(ngModel)]="traveller.create_profile">
                            <label for="createProfile{{i}}">Use above information to create my account</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="activeBookingStep >= 2" class="wts-booking-step wts-booking-checkout">
            <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">
                <div fxFlex="60%">
                    <h3 class="wts-header-3 m-b">Payment type</h3>
                    <div class="wts-input-wrap">
                        <div style="line-height: 25px">
                            <input type="radio" checked value="WTX" name="paymentType" id="paymentTypeWTX" [(ngModel)]="bookingPayload.payment.payment_type">
                            <label for="paymentTypeWTX">WTX</label>
                        </div>
                    </div>
                    <div class="wts-input-wrap">
                        <div style="line-height: 25px">
                            <input type="radio" name="paymentType" value="card" id="paymentTypeCard" [(ngModel)]="bookingPayload.payment.payment_type">
                            <label for="paymentTypeCard">Credit/ Debit Card</label>
                        </div>
                    </div>
                </div>
                <div class="wts-itinerary-info wts-space-h-p wts-card" fxFlex="40%" style="border-top: solid 3px #6ca0f0;background-color: #fafafa">
                    <h3 class="wts-header-3">Summary</h3>
                    <h4>{{itinerary.title}}</h4>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>event</mat-icon></div> {{itinerary.from | date: 'longDate'}} - {{itinerary.to | date: 'longDate'}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>location_on</mat-icon></div> {{itinerary.area }}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>rowing</mat-icon></div> {{itinerary.activities}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>fastfood</mat-icon></div> {{itinerary.services}}
                    </div>
                    <div class="wts-textbox wts-textbox-horizontal" *ngIf="itinerary.guest_condition">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>accessible</mat-icon></div> {{itinerary.guest_condition}}
                    </div>
                    <!--<div class="wts-textbox wts-textbox-horizontal" *ngIf="itinerary.guest_type">-->
                    <!--<div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>language</mat-icon></div> {{itinerary.guest_type}}-->
                    <!--</div>-->
                    <div class="wts-space-h-p">
                        <mat-divider></mat-divider>
                    </div>

                    <table style="width: 100%;table-layout: fixed">
                        <tr>
                            <td>
                                <b>Adults</b>
                            </td>
                            <td>
                                {{summary.adults.count}} * {{itinerary.price_adult}}
                            </td>
                            <td style="text-align: right">
                                {{summary.adults.subtotal}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Children</b>
                            </td>
                            <td>
                                {{summary.children.count}} * {{itinerary.price_child}}
                            </td>
                            <td style="text-align: right">
                                {{summary.children.subtotal}}
                            </td>
                        </tr>
                    </table>
                    <div class="wts-space-h-p">
                        <mat-divider></mat-divider>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h2 class="wts-header-2" fxFlex>Total</h2>
                        <h2 class="wts-header-2" fxFlex style="text-align: right">{{summary.total}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>
<div mat-dialog-actions style="justify-content: space-between">
    <div><button type="button" (click)="goBackBooking()"  *ngIf="activeBookingStep > 0"><i class="material-icons">arrow_back</i>Go Back</button></div>
    <button id="{{activeBookingStep === 2 ? 'bookingCheckout' : 'bookingContinue'}}" class="wts-button-primary" (click)="continueBooking()"  [disabled]="bookingPaused">
        <!--<mat-spinner diameter="18" *ngIf="checkingOut" style="color: #fff;margin: 0 20px"></mat-spinner>-->
        <span>{{activeBookingStep >= 2 ? 'Checkout' : 'Continue'}}</span>
    </button>
</div>
