<div class="wts-booking-setup">
    <!--<div *ngIf="!bookingDone">-->
    <div *ngIf="!bookingDone">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Almost ready to get on board.</h2>
            <button type="button" (click)="onNoClick(false)" class="wts-button-third">Cancel</button>
        </div>
        <p>Please go through these simple steps to complete your booking.</p>
        <div class="wts-booking-header">
            <div class="wts-step-tab" [ngClass]="{'wts-step-tab-active' : tab.active, 'wts-step-tab-done' : tab.done }" *ngFor="let tab of bookingTabs">
            <span class="wts-step-number">
                <mat-icon *ngIf="tab.done">check</mat-icon>
                <span *ngIf="!tab.done">{{tab.number}}</span>
            </span>
                <span class="wts-step-title">{{tab.title}}</span>
            </div>
        </div>
        <mat-dialog-content class="wts-dialog">
            <book-tour-summary *ngIf="activeBookingStep === 0" class="wts-booking-step wts-booking-summary" [tourSummary]="itinerary"></book-tour-summary>
            <book-tour-travellers *ngIf="activeBookingStep === 1" class="wts-booking-step wts-booking-traveller" [itinerary]="itinerary" (bookingSubmissionStat)="forwardBooking($event)" (preloadBooking)="togglePreload($event)"></book-tour-travellers>
            <div *ngIf="activeBookingStep >= 2" class="wts-booking-step wts-booking-checkout">
                <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start start">
                    <div fxFlex="60%">
                        <h3 class="wts-header-3 m-b">Payment type</h3>
                        <div class="wts-input-wrap">
                            <div style="line-height: 25px">
                                <input type="radio" disabled value="WTX" name="paymentType" id="paymentTypeWTX" [(ngModel)]="bookingPayload.payment.payment_type">
                                <label for="paymentTypeWTX">WTXT</label>
                            </div>
                        </div>
                        <div class="wts-input-wrap">
                            <div style="line-height: 25px">
                                <input type="radio" name="paymentType" value="card" id="paymentTypeCard" [(ngModel)]="bookingPayload.payment.payment_type">
                                <label for="paymentTypeCard">Credit/ Debit Card</label>
                            </div>
                        </div>
                    </div>
                    <div class="wts-itinerary-info wts-space-h-p wts-card" fxFlex="40%" style="border-top: solid 3px #6ca0f0;background-color: #fafafa">
                        <h3 class="wts-header-3">Summary</h3>
                        <h4>{{itinerary.title}}</h4>
                        <!--<div class="wts-textbox wts-textbox-horizontal">-->
                            <!--<div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>event</mat-icon></div> {{itinerary.from | date: 'longDate'}} - {{itinerary.to | date: 'longDate'}}-->
                        <!--</div>-->
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>location_on</mat-icon></div> {{itinerary.area }}
                        </div>
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>rowing</mat-icon></div> {{itinerary.activities}}
                        </div>
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>fastfood</mat-icon></div> {{itinerary.services}}
                        </div>
                        <div class="wts-textbox wts-textbox-horizontal" *ngIf="itinerary.guest_condition">
                            <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>accessible</mat-icon></div> {{itinerary.guest_condition}}
                        </div>
                        <!--<div class="wts-textbox wts-textbox-horizontal" *ngIf="itinerary.guest_type">-->
                        <!--<div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>language</mat-icon></div> {{itinerary.guest_type}}-->
                        <!--</div>-->
                        <div class="wts-space-h-p">
                            <mat-divider></mat-divider>
                        </div>

                        <table style="width: 100%;table-layout: fixed">
                            <tr>
                                <td>
                                    <b>Adults</b>
                                </td>
                                <td>
                                    {{summary.adults.count}} * {{itinerary.price}}
                                </td>
                                <td style="text-align: right">
                                    {{summary.adults.subtotal}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Children</b>
                                </td>
                                <td>
                                    {{summary.children.count}} * {{itinerary.price}}
                                </td>
                                <td style="text-align: right">
                                    {{summary.children.subtotal}}
                                </td>
                            </tr>
                        </table>
                        <div class="wts-space-h-p">
                            <mat-divider></mat-divider>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <h2 class="wts-header-2" fxFlex>Total</h2>
                            <h2 class="wts-header-2" fxFlex style="text-align: right">{{summary.adults.subtotal * 2}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
    </div>
    <book-tour-finish [itinerary]="itinerary" [summary]="summary" *ngIf="bookingDone" fxLayout="column" class="wts-booking-done"></book-tour-finish>
</div>
<div mat-dialog-actions style="justify-content: space-between">
    <div>
        <button type="button" (click)="goBackBooking()" *ngIf="activeBookingStep > 0 && !bookingDone"><i class="material-icons">arrow_back</i>Go Back</button>
    </div>
    <!--. . . . . . . . . . . . . . . . . . . . . . . -->
    <button *ngIf="!bookingDone && activeBookingStep !== 1" id="{{activeBookingStep === 2 ? 'bookingCheckout' : 'bookingContinue'}}" class="wts-button-primary" (click)="continueBooking()"  [disabled]="bookingPaused">
        <mat-spinner diameter="18" *ngIf="bookingPaused" style="color: #fff;margin: 0 20px"></mat-spinner>
        <span *ngIf="!bookingPaused">{{activeBookingStep >= 2 ? 'Checkout' : 'Continue'}}</span>
    </button>
    <!--. . . . . . . . . . . . . . . . . . . . . . . -->
    <button type="submit" *ngIf="activeBookingStep === 1" id="bookingInfoSubmit" form="bookingForm" class="wts-button-primary" (click)="submitTravellerInfo()"  [disabled]="bookingPaused">
        <mat-spinner diameter="18" *ngIf="bookingPaused" style="color: #fff;margin: 0 20px"></mat-spinner>
        <span *ngIf="!bookingPaused">Continue</span>
    </button>
    <!--. . . . . . . . . . . . . . . . . . . . . . . -->
    <button *ngIf="bookingDone" (click)="onNoClick(false)">
        <span>Close</span>
    </button>
</div>
