<style>
    #wts-itinerary-map {
        width: 100%;
        height: 400px;
        border-radius: 10px;
    }
</style>

<div class="wts-banner" fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
    <img class="wts-itinerary-cover" src="{{ itinerary.backdrop }}" alt="{{ itinerary.title }}">
    <div class="wts-itinerary-summery" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="15px" fxFlex>
        <div class="wts-itinerary-info-main" fxFlex="60%">
            <h3 class="wts-header-3 wts-itinerary-place">Singapore</h3>
            <h2 class="wts-header-2 wts-itinerary-title">{{ itinerary.title }}</h2>
            <div class="wts-iti-service-sum">
                <span class="wts-pill wts-pill-general" *ngFor="let s of itinerary.services.values">{{s}}</span>
            </div>
        </div>
        <div class="wts-itinerary-service" fxFlex="40%" fxShow.xs="false">
            <div class="wts-iti-service-loc">
                <mat-icon>location_on</mat-icon> {{ itinerary.area }}
            </div>
            <div class="wts-iti-service-duration">
                <mat-icon>event</mat-icon> {{ itinerary.from | date: 'longDate'}} - {{ itinerary.to | date: 'longDate'}}
            </div>
            <div class="wts-iti-service-lang">
                <mat-icon>language</mat-icon> <span *ngFor="let l of itinerary.guide['languages']">{{l}}</span>
            </div>
        </div>
    </div>
</div>
<div class="wts-itinerary">
    <div fxLayout="row" class="wts-main-wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayoutWrap>
        <div fxFlex fxLayout="column" fxLayoutGap="20px">
            <div class="wts-card wts-card-sunken">
                <div class="wts-space-h-p">
                    <div class="wts-itinerary-service" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="15px">
                        <div class="wts-iti-service-loc">
                            <mat-icon>location_on</mat-icon> {{ itinerary.area }}
                        </div>
                        <div class="wts-iti-service-duration" fxFlex>
                            <mat-icon>event</mat-icon> {{ itinerary.from | date: 'longDate'}} - {{ itinerary.to | date: 'longDate'}}
                        </div>
                        <div class="wts-iti-service-lang">
                            <mat-icon>language</mat-icon> <span *ngFor="let l of itinerary.guide['languages']; let i = index"> {{l}}{{i !== itinerary.guide['languages'].length-1 ? ',  ' : null}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wts-card">
                <div fxLayout="row">
                    <div fxFlex>
                        <div class="wts-card-header">
                            <div class="wts-card-header-flex">
                                <h2 class="wts-header-2">Meet your tour guide {{ itinerary.guide['name'] }}</h2>
                            </div>
                        </div>
                        <p>{{ itinerary.description }}</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center">
                        <div class="wts-itinerary-guide-img">
                            <img src="{{itinerary.guide['picture']}}" alt="{{itinerary.guide['name']}}">
                        </div>
                        <button class="wts-button mat-button-flat-p"> <mat-icon>chat_outline</mat-icon> AirChat</button>
                    </div>
                </div>
            </div>
            <div class="wts-card">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">What we'll do..</h2>
                    </div>
                </div>
                <p>{{ itinerary.activities }}</p>
            </div>
            <div class="wts-card">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">What I'll provide..</h2>
                    </div>
                </div>
                <ul class="wts-list">
                   <li class="wts-list-item">
                       <div class="wts-textbox wts-textbox-horizontal">
                           <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>check_circle_outline</mat-icon></div> Hawker Center meal
                       </div>
                   </li>
                   <li class="wts-list-item">
                       <div class="wts-textbox wts-textbox-horizontal">
                           <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>check_circle_outline</mat-icon></div> Singapore Sling or Beer
                       </div>
                   </li>
                   <li class="wts-list-item">
                       <div class="wts-textbox wts-textbox-horizontal">
                           <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>check_circle_outline</mat-icon></div> Singapore River Cruise
                       </div>
                   </li>
                   <li class="wts-list-item">
                       <div class="wts-textbox wts-textbox-horizontal">
                           <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>check_circle_outline</mat-icon></div> Public Transportation
                       </div>
                   </li>
                </ul>
            </div>
            <div class="wts-card">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">Who can come</h2>
                    </div>
                </div>
                <p>{{ itinerary.guest_condition }}</p>
            </div>
            <div class="wts-card">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">Where we'll be</h2>
                    </div>
                </div>
                <p>{{ itinerary.area }}</p>
                <div class="wts-space-h-p">
                    <div id="wts-itinerary-map"></div>
                </div>
            </div>
            <div class="wts-card" *ngIf="itinerary.notes">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">Notes</h2>
                    </div>
                </div>
                <p fxLayout="row" fxLayoutAlign="start center"> <mat-icon>error_outline</mat-icon> {{ itinerary.notes }}</p>
            </div>
        </div>
        <div class="wts-card" fxFlex="20%">
            <div fxLayout="column" fxLayoutAlign="center" style="text-align: center">
                <div class="wts-itinerary-price">${{ itinerary.price }} SGD</div>
                <span class="wts-iti-price-per">per Person</span>
                <div class="wts-space-h-p">
                    <button class="wts-button-primary">Request to book</button>
                </div>
            </div>
            <div class="_divider"></div>
            <div class="wts-card-header" style="margin-top: 10px">
                <div class="wts-card-header-flex">
                    <h2 class="wts-header-2">
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon">
                                <mat-icon>settings</mat-icon>
                            </div>
                            Settings
                        </div>
                    </h2>
                </div>
            </div>
            <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
            <ul class="wts-list" *ngIf="!loading && !itinerary.is_public">
                <li class="wts-list-item wts-clickable" (click)="makePublic()">
                    <div class="wts-textbox wts-textbox-horizontal">
                        <div class="wts-textbox-icon wts-txtbx-icon-small"><mat-icon>language</mat-icon></div> Make Public
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>