<h2 class="wts-header-2">Edit profile</h2>
<mat-dialog-content class="wts-dialog">
    <form action="" class="wts-dialog-form">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div class="wts-input-block" fxFlex="50%" class="wts-input-wrap">
                <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="data.first_name" class="wts-input-block">
            </div>
            <div class="wts-input-block" fxFlex="50%" class="wts-input-wrap">
                <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="data.last_name" class="wts-input-block">
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div class="wts-input-block" fxFlex="100%" class="wts-input-wrap">
                <input type="text" name="address" placeholder="Address" [(ngModel)]="data.address" class="wts-input-block">
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div class="wts-input-block" fxFlex="50%" class="wts-input-wrap">
                <input type="text" name="interests" placeholder="Interests" [(ngModel)]="data.interests" class="wts-input-block">
            </div>
            <div class="wts-input-block" fxFlex="50%" class="wts-input-wrap">
                <input type="text" name="lifestyle" placeholder="Lifestyle" [(ngModel)]="data.lifestyle" class="wts-input-block">
            </div>
        </div>
        <div class="wts-space-h-p">
            <!--<h3 class="wts-header-3">Profile picture</h3>-->
            <div class="wts-image-uploader">
                <div class="wts-image-uploader-preview" fxShow.xs="false">
                    <img src="./assets/user_male.jpg" alt="">
                </div>
                <div class="wts-image-uploader-controls">
                    <h2 class="wts-header-2">Drag & Drop</h2>
                    <div>
                        <i>or</i>
                    </div>
                    <div class="wts-space-h-p">
                        <button class="wts-button-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<div mat-dialog-actions fxFlexAlign="end">
    <button (click)="onNoClick()">Cancel</button>
    <button class="wts-button-primary">Save</button>
</div>