@import "../../_core/styles/variables";

.wts-profile {
  background: $wts-color-highlight-lightgray;
  padding: $wts-spacing-inner-primary * 3;
}

.wts-profile-image {
  img {
    width: $wts-size-image-m;
  }
}

@media only screen and (max-width: 600px) {
  .wts-profile {
    padding: $wts-spacing-inner-primary;
  }
  .wts-acc-bnr-summary {
    background: #ffffff30;
  }
}
