<app-wts-banner-common [user]="user"></app-wts-banner-common>
<div class="wts-profile">
    <div class="wts-main-wrap" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
        fxLayoutAlign="center" fxLayoutWrap>
        <div fxFlex="80%" fxLayout="column" fxLayoutGap="20px">
            <div>
                <div class="wts-guide-acc-summary" fxLayout="row wrap" fxLayoutGap="20px" fxFlex>
                    <div class="wts-card wts-guide-sum-item" fxFlex>
                        <div class="wts-guide-sum-item-label">
                            <mat-icon>thumb_up_alt_outlined</mat-icon>
                        </div>
                        <div class="wts-guide-sum-item-value">0</div>
                    </div>
                    <div class="wts-card wts-guide-sum-item" fxFlex>
                        <div class="wts-guide-sum-item-label">
                            <mat-icon>photo_album</mat-icon>
                        </div>
                        <div class="wts-guide-sum-item-value">0</div>
                    </div>
                    <div class="wts-card wts-guide-sum-item" fxFlex>
                        <div class="wts-guide-sum-item-label">
                            <mat-icon>star</mat-icon>
                        </div>
                        <div class="wts-guide-sum-item-value">0</div>
                    </div>
                </div>
            </div>
            <div class="wts-card wts-card-sunken wts-space-h-p">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">About</h2>
                    </div>
                </div>
                <div class="wts-card-content">
                    <div class="wts-block">
                        <h2 class="wts-header-3" style="text-align: center;font-weight: 300;font-size: 20px">
                            <i>"{{user.tagline}}"</i></h2>
                    </div>
                    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
                        <div class="wts-block" fxFlex="33.3%">
                            <h2 class="wts-header-3">Address</h2>
                            <ul class="wts-list">
                                <li class="wts-list-item">{{user.address}}</li>
                            </ul>
                        </div>
                        <div class="wts-block" fxFlex="33.3%">
                            <h2 class="wts-header-3">Lifestyle</h2>
                            <ul class="wts-list">
                                <li class="wts-list-item" *ngFor="let l of user.lifestyle.values">{{l}}</li>
                            </ul>
                        </div>
                        <div class="wts-block" fxFlex="33.3%">
                            <h2 class="wts-header-3">Interests</h2>
                            <ul class="wts-list">
                                <li class="wts-list-item" *ngFor="let i of user.interests.values">{{i}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wts-card wts-card-sunken wts-space-h-p">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">Highlights</h2>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.sm="column" fxLayout.xs="column"
                    fxLayoutGap="15px">
                    <div class="wts-space-h-p">
                        <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>
                        <div *ngIf="!loading" fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column"
                            fxLayout.xs="column" fxLayoutGap="15px" class="wts-itineraries-wrap">
                            <app-wts-itinerary-block (click)="openItinerary(itinerary)" [itinerary]="itinerary"
                                *ngFor="let itinerary of myitineraries"></app-wts-itinerary-block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wts-card wts-card-sunken wts-space-h-p">
                <div class="wts-card-header">
                    <div class="wts-card-header-flex">
                        <h2 class="wts-header-2">Customer Reviews</h2>
                    </div>
                </div>
                <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="start center">
                    <div fxFlex>
                        <app-wts-rating-main [rating]="3.7"></app-wts-rating-main>
                    </div>
                    <div fxFlex>
                        <app-wts-rating-overall [summery]="3" [service]="4" [organization]="2" [vfm]="3" [safety]="4">
                        </app-wts-rating-overall>
                    </div>
                </div>
            </div>
        </div>
        <div class="wts-card" fxFlex="20%">
            <div class="wts-card-header">
                <div class="wts-card-header-flex">
                    <h2 class="wts-header-2">
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon">
                                <mat-icon>settings</mat-icon>
                            </div>
                            Settings
                        </div>
                    </h2>
                </div>
            </div>
            <div>
                <ul class="wts-list">
                    <li class="wts-list-item wts-clickable" (click)="openCreateProfile(true)">
                        <div class="wts-textbox wts-textbox-horizontal">
                            <div class="wts-textbox-icon wts-txtbx-icon-small">
                                <mat-icon>edit</mat-icon>
                            </div> Edit profile
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>