/* You can add global styles to this file, and also import other style files */
@import "_core/styles/variables";
@import "_core/styles/helpers";
//Mat
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";
@import '../node_modules/angular2-toaster/src/toaster';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}
.mat-form-field-underline {
  height: 0!important;
  background-color:transparent!important;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-grey);
$candy-app-accent:  mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-grey);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

//Nouislider
nouislider {
  width: 95%;
}
.noUi-horizontal {
  height: 10px;
}
.noUi-connect {
  background: $wts-color-primary-light;
}
.noUi-target {
  background: #00000010;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  box-shadow: 0 1px $wts-size-shadow-primary $wts-color-shadow-secondary;
  border: none;
  width: $wts-topbar-height - 30;
  height: $wts-topbar-height - 30;
  top: -5px;
  outline: none;
}
.noUi-tooltip {
  padding: 0px 8px;
  border-radius: 20px;
  //background: #ffffff30;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  border: none;
}
.noUi-handle:before {
  left: 7px;
}
.noUi-handle:after {
  left: 12px;
}
.noUi-handle:before,
.noUi-handle:after {
  height: 10px;
}
.noUi-handle:after, .noUi-handle:before {
  top: 5px;
}
.mat-menu-panel.wts-topbar-menu {
  width: 200px;
}

//Angular-calendar ovwrites
$ang-cal-maxwidth : 321px;
$ang-cal-cel-size : 45px;
$ang-cal-disabled : $wts-color-highlight-lightgray;
mwl-calendar-month-view {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.cal-days {
  max-width: $ang-cal-maxwidth;
}
.cal-month-view .cal-header {
  font-weight: normal;
  max-width: $ang-cal-maxwidth;
}
.cal-month-view .cal-header .cal-cell {
  font-size: 13px;
  padding: 4px;
}
.cal-month-view .cal-day-cell {
  min-height: $ang-cal-cel-size;
  min-width: $ang-cal-cel-size;
  max-width: $ang-cal-cel-size;
}
.cal-month-view .cal-day-cell.cal-has-events .cal-day-badge {
  display: none!important;
}
.cal-month-view .cal-day-cell.cal-has-events .cal-cell-top {
  //color: #ffffff;
}
.cal-month-view .cal-cell {
  position: relative;
}
.cal-month-view .cal-events {
  width: 100%;
  height: 100%;
  position: absolute;
  color: $ang-cal-disabled;
  background-color: $ang-cal-disabled;
  border-radius: 0;
  margin: 0;
  padding: 0;
  .cal-event {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: inline-block;
    margin: 0;
  }
}
.cal-month-view .cal-cell-top {
  min-height: $ang-cal-cel-size;
  min-width: $ang-cal-cel-size;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.cal-month-view .cal-day-number {
  font-size: 14px;
  margin: 0;
  float: none;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 14px;
}
.cal-day-disabled {
  background-color: $wts-color-highlight-lightgray!important;
  pointer-events: none!important;
  &.cal-day-selected{
    .cal-cell-top {
      .cal-day-number {
        color: inherit;
      }
    }
  }
}
.cal-day-selected {
  background-color: $wts-color-primary-light!important;
  .cal-cell-top {
    .cal-day-number {
      color: #ffffff;
    }
  }
}
//Angular-calendar ovwrites

//Slick
.slick-slider {
  display: flex;
  align-items: center;
}
.slider-for{
  width: 500px;
  height: 350px;
  margin: 0px auto 1px;
  overflow: hidden;
  //border-radius: $wts-border-radius-primary;
}
.slick-list {
  width: 100%;
}
.slick-slide img {
  width: 100%;
}
.slider-nav{
  width: 500px;
  height: 85px;
  margin: auto;
}
.slider-nav .slick-track{
  height: 85px;
}
.slider-nav .item {
  display: flex;
  justify-content: center;
}
.slider-nav .item img{
  height: 85px;
  width: auto;
}
.slick-arrow{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 50;
  margin: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.slick-prev{
  left: 0;
}
.slick-next{
  right: 0;
}

/* COMMON
================================================ */
.wts-header-1 {
  font-size: $wts-size-header-1;
  margin: 0 0 $wts-size-header-1 0;
  .mat-icon {
    font-size: $wts-size-header-1;
    width: $wts-size-header-1;
    height: $wts-size-header-1;
    margin-right: $wts-spacing-inner-secondary;
  }
}

.wts-header-2 {
  font-size: $wts-size-header-2;
  margin: 0 0 $wts-size-header-2 0;
  .mat-icon {
    font-size: $wts-size-header-1;
    width: $wts-size-header-1;
    height: $wts-size-header-1;
    margin-right: $wts-spacing-inner-third;
  }
}

.wts-header-3 {
  font-size: $wts-size-header-3;
  //color: $wts-color-text-secondary;
  font-weight: 600;
  margin: 0 0 $wts-size-header-3 - 10 0;
  .mat-icon {
    font-size: $wts-size-header-2;
    width: $wts-size-header-2;
    height: $wts-size-header-2;
    margin-right: $wts-spacing-inner-third;
  }
  &.m-b {
    margin-bottom: $wts-spacing-inner-primary;
  }
}

.wts-input-wrap {
  margin-bottom: $wts-spacing-inner-primary;
}

.wts-clickable {
  @extend %clickable;
}

.wts-space-h-p {
  padding: $wts-spacing-inner-primary 0;
}

.wts-space-v-p {
  padding: 0 $wts-spacing-inner-primary;
}

.wts-text-center {
  text-align: center;
}
/* --------------------------------------------- */
input,
textarea,
mat-select{
  @extend %box_sizing;
  font-size: 14px;
  display: inline-block;
  padding: $wts-spacing-inner-secondary;
  background: #ffffff;
  border-radius: $wts-border-radius-secondary;
  border: solid 1px $wts-color-border-primary;
  outline: none;
  &.wts-input-block {
    width: 100%;
  }
  &.wts-input-block-half {
    width: 50%;
  }
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 25px;
  display: inline-block; //color: #666;
}
input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px; //border: 2px solid #aaa;
  border-radius: 100%;
  background: #fff;
  border: solid 2px $wts-color-primary;
}
input[type="radio"]:checked+label:after,
input[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $wts-color-primary;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all $wts-time-animation-primary ease;
  transition: all $wts-time-animation-primary ease;
}
input[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}
input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px; //border: 2px solid #aaa;
  border-radius: 3px;
  //background: #fff;
  border: solid 1px $wts-color-border-primary;
}
input[type="checkbox"]:checked+label:before {
  border: solid 2px $wts-color-primary;
}
input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 7px;
  background: #fff;
  position: absolute;
  top: 3px;
  left: 6px;
  box-shadow: -3px 3px 0 $wts-color-primary;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all $wts-time-animation-primary ease;
  -moz-transition: all $wts-time-animation-primary ease;
  -ms-transition: all $wts-time-animation-primary ease;
  -o-transition: all $wts-time-animation-primary ease;
  transition: all $wts-time-animation-primary ease;
}
input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}
input[type="checkbox"]:checked+label:after {
  opacity: 1;
}
input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
  color: $wts-color-highlight-darkgray;
  &:before{
    border-color: $wts-color-highlight-darkgray;
  }
}


/* --------------------------------------------- */
.wts-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //background: #ffffff90;
  background: #ffffff;
  -webkit-box-shadow: $wts-shadow-card;
  -moz-box-shadow: $wts-shadow-card;
  box-shadow: $wts-shadow-card;
  padding: $wts-spacing-inner-primary;
  &.wts-card-round {
    border-radius: $wts-border-radius-primary;
  }
  &.wts-card-fill {
    width: 100%;
    height: 100%;
  }
  &.wts-card-sunken {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
    &.wts-space-h-p {
      padding: $wts-spacing-inner-primary 0;
    }
  }
  &.wts-image-card {
    width: $wts-itinerary-widget - 200;
    height: $wts-itinerary-widget - 200;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .wts-overhead-text {
      text-transform: uppercase;
      color: #ffffff;
      font-size: $wts-size-header-1;
      font-weight: 700;
      text-shadow: $wts-shadow-text-secondary;
      z-index: 1;
    }
    img {
      height: 110%;
      position: absolute;
      //top: 0;
      //bottom: 0;
      //left: 0;
      //right: 0;
      //margin: auto;
      z-index: 0;
    }
  }
  .wts-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $wts-spacing-inner-primary;
    h1, h2, h3, h4, h5 {
      margin: 0;
    }
    .wts-card-header-flex {
      flex: 1;
    }
    .wts-card-header-tools {

    }
  }
  &.wts-card-clickable {
    cursor: pointer;
  }
  .wts-card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $wts-spacing-inner-primary;
    .wts-card-footer-flex {
      flex: 1;
    }
    .wts-card-footer-tools {

    }
  }
}

/* --------------------------------------------- */
._divider {
  display: block;
  width: 100%;
  height: 1px;
  background: $wts-color-border-primary;
}

/* --------------------------------------------- */
button {
  font-size: 14px;
  padding: $wts-spacing-inner-secondary $wts-spacing-inner-primary;
  border: none;
  border-radius: $wts-border-radius-secondary;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: filter $wts-time-animation-primary;
  -moz-transition: filter $wts-time-animation-primary;
  -ms-transition: filter $wts-time-animation-primary;
  -o-transition: filter $wts-time-animation-primary;
  transition: filter $wts-time-animation-primary;
  &:hover {
    //background: $wts-color-highlight-lightgray;
    filter: contrast(0.8);
    -webkit-transition: filter $wts-time-animation-primary;
    -moz-transition: filter $wts-time-animation-primary;
    -ms-transition: filter $wts-time-animation-primary;
    -o-transition: filter $wts-time-animation-primary;
    transition: filter $wts-time-animation-primary;
  }
  &:disabled {
    background: $wts-color-highlight-gray;
  }
  &.wts-button-primary {
    background: $wts-color-primary;
    color: #ffffff;
    .mat-icon {
      color: #ffffff;
    }
    .mat-spinner {
      circle {
        stroke: #fff;
      }
    }
  }
  &.wts-button-secondary {
    padding: $wts-spacing-inner-third $wts-spacing-inner-primary;
    background: $wts-color-secondary;
    color: #ffffff;
    .mat-icon {
      color: #ffffff;
    }
  }
  &.mat-button-circle {
    border-radius: 100%;
    width: $wts-size-icon-large - 10;
    height: $wts-size-icon-large - 10;
    padding: $wts-spacing-inner-third;
    //@extend %inline-flex-center;
    > .mat-icon {
      font-size: $wts-size-icon-medium;
      height: $wts-size-icon-medium;
      width: $wts-size-icon-medium;
      margin: 0;
    }
  }
  &.mat-button-flat-p {
    color: $wts-color-primary;
  }
  &.mat-button-flat-s {
    color: $wts-color-secondary;
  }
  &.wts-button-bordered {
    border-radius: 30px!important;
    border: solid 2px!important;
  }
  & > .mat-icon {
    font-size: $wts-size-icon-small;
    height: $wts-size-icon-small;
    width: $wts-size-icon-small;
    margin-right: $wts-spacing-inner-third;
  }
}

/* --------------------------------------------- */
.wts-textbox {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  border-radius: $wts-border-radius-secondary;
  align-items: center;
  //justify-content: center;
  text-align: center;
  &.wts-textbox-vertical {
    flex-direction: column;
  }
  &.wts-textbox-horizontal {
    flex-direction: row;
    .wts-textbox-icon {
      margin-right: $wts-spacing-inner-third;
    }
  }
  &.wts-textbox-clickable {
    cursor: pointer;
    &:hover {
      -webkit-box-shadow: $wts-shadow-card;
      -moz-box-shadow: $wts-shadow-card;
      box-shadow: $wts-shadow-card;
    }
  }
  .wts-textbox-icon {
    color: $wts-color-text-secondary;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    align-items: center;
    &.wts-txtbx-icon-large {
      .mat-icon {
        font-size: $wts-size-icon-large;
        width: $wts-size-icon-large;
        height: $wts-size-icon-large;
      }
    }
    &.wts-txtbx-icon-small {
      .mat-icon {
        font-size: $wts-size-icon-small;
        width: $wts-size-icon-small;
        height: $wts-size-icon-small;
      }
    }
  }
  .wts-textbox-text {
    font-weight: 500;
  }
}

/* --------------------------------------------- */
.wts-block {
  padding: $wts-spacing-inner-primary;
}

/* --------------------------------------------- */
.wts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .wts-list-item {
    display: flex;
    align-items: center;
    padding: $wts-spacing-inner-secondary - 2 $wts-spacing-inner-third;
    margin-left: -$wts-spacing-inner-third;
  }
}

/* --------------------------------------------- */
.wts-pill {
  @extend %inline-flex-center;

  padding: $wts-spacing-inner-third - 2 $wts-spacing-inner-third + 2;
  border-radius: 50px;
  font-size: 11px;
  text-transform: uppercase;
  overflow: hidden;
  .mat-icon {
    font-size: $wts-size-icon-small;
    width: $wts-size-icon-small;
    height: $wts-size-icon-small;
    margin-right: $wts-spacing-inner-third;
  }
  &.wts-pill-general {
    background: linear-gradient(45deg, $wts-color-primary-light, $wts-color-primary);
    color: #ffffff;
  }
  &.wts-pill-controlled {
    padding: $wts-spacing-inner-secondary $wts-spacing-inner-primary;
    background: $wts-color-primary-light;
    color: #ffffff;
    margin: 0 $wts-spacing-inner-secondary $wts-spacing-inner-secondary 0;
    .wts-pill-control {
      margin-left: $wts-spacing-inner-secondary;
      margin-right: 0;
      cursor: pointer;
      &:hover {
        background: $wts-color-highlight-lightgray;
        color: $wts-color-primary-dark;
        border-radius: 100%;
      }
    }
  }
}
/* --------------------------------------------- */
.wts-search-dates {
  padding: $wts-spacing-inner-primary * 2;
  background: #ffffff;
  box-shadow: 0 5px $wts-size-shadow-secondary $wts-color-shadow-secondary;
  text-align: center;
  transition: all $wts-time-animation-primary;
  height: 200px;
  &>h3 {
    margin-top: 0;
  }
  .wts-label {
    margin-top: $wts-spacing-inner-primary;
  }
  .wts-search-label-upper {
    text-transform: uppercase;
    font-size: 10px;
    text-align: left;
    margin: $wts-spacing-inner-primary 0 $wts-spacing-inner-third 0;
  }
  .wts-input-wrap {
    padding: 0 $wts-spacing-inner-third;
    background: #ffffff30;
    border-radius: $wts-border-radius-secondary;
    box-shadow: 0 1px $wts-size-shadow-primary $wts-color-shadow-secondary;
    input {
      background: transparent;
      padding: $wts-spacing-inner-secondary;
      border: none;
      width: auto;
    }
    .mat-button-circle {
      background: transparent;
      .mat-icon {
        color: $wts-color-primary;
      }
    }
  }
  .wts-search-footer {
    position: relative;
    height: 20px;
    padding: $wts-spacing-inner-primary;
    background: $wts-color-primary;
    color: #ffffff;
    margin-top: $wts-spacing-inner-primary * 2;
    margin-right: -$wts-spacing-inner-primary * 2;
    margin-left: -$wts-spacing-inner-primary * 2;
    margin-bottom: -$wts-spacing-inner-primary * 2;
  }

  &.wts-search-float {
    //height: 100%;
    z-index: 80;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: $wts-spacing-inner-primary;
    box-shadow: 0 35px 50px $wts-color-shadow-secondary;
  }
  .wts-search-pricerange {
    box-sizing: border-box;
    padding: $wts-spacing-inner-primary $wts-spacing-inner-secondary $wts-spacing-inner-third $wts-spacing-inner-secondary;
    width: 100%;
    text-align: center;
  }
}
/* --------------------------------------------- */
.wts-dialog-guide {
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  color: $wts-color-text-secondary;
}
.wts-dialog {
  .wts-dialog-form {
    padding: $wts-spacing-inner-primary;
  }
}
//.mat-dialog-container {
//  padding: $wts-spacing-inner-primary !important;
//  width: 80%;
//  .mat-dialog-actions {
//    padding: 0;
//    justify-content: flex-end;
//    button {
//      margin-left: $wts-spacing-inner-primary;
//    }
//  }
//}
/* --------------------------------------------- */
.wts-image-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  border: solid 1px $wts-color-border-primary;
  border-radius: $wts-border-radius-secondary;
  .wts-image-uploader-preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 200px;
    }
    .wts-uploader-placeholder {
      .mat-icon {
        font-size: $wts-size-icon-large + $wts-size-icon-large;
        width: $wts-size-icon-large + $wts-size-icon-large;
        height: $wts-size-icon-large + $wts-size-icon-large;
        color: $wts-color-highlight-lightgray;
      }
      p {
        position: relative;
        top: -$wts-spacing-inner-primary;
        color: $wts-color-highlight-gray;
        text-align: center;
        margin: 0;
      }
    }
  }
  .wts-image-uploader-controls {
    width: 250px;
    height: 90%;
    /* border: solid 1px #ddd; */
    background: #fafafa;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* --------------------------------------------- */
.wts-banner-gen-search {
  //width: 80%;
  @extend %flex-center;
  .wts-search-area {
    padding: $wts-spacing-inner-secondary $wts-spacing-inner-primary;
    text-align: center;
    background: linear-gradient(-45deg, $wts-color-primary, $wts-color-secondary);
    color: #ffffff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .wts-input-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    input {
      padding-left: $wts-spacing-inner-primary + $wts-spacing-inner-primary;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .wts-serach-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      margin: auto;
      font-size: $wts-size-icon-small;
      width: $wts-size-icon-small;
      height: $wts-size-icon-small;
    }
  }
}
/* --------------------------------------------- */
.wts-guide-acc-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  .wts-guide-sum-item {
    text-align: center;
    //background: linear-gradient(-45deg, $wts-color-primary, $wts-color-primary-light);
    display: flex;
    align-items: center;
    padding: 0;
    &.wts-card {
      //border-radius: $wts-border-radius-primary;
    }
    .wts-guide-sum-item-value {
      font-size: 20px;
      font-weight: 700;
      //color: $wts-color-secondary-light;
      color: $wts-color-text-secondary;
      flex: 1;
      text-align: center;
      border-left: solid 1px $wts-color-shadow-primary;
      padding: $wts-spacing-inner-secondary;
    }
    .wts-guide-sum-item-label {
      //color: $wts-color-highlight-gray;
      //color: $wts-color-text-secondary;
      background: linear-gradient(-45deg, $wts-color-highlight-gray, $wts-color-highlight-lightgray);
      mat-icon {
        color: $wts-color-secondary;
        padding: $wts-spacing-inner-secondary;
        //font-size: 30px;
      }
    }
  }
}


//MEDIA QUERIES
@media only screen and (max-width: 600px) {
  .wts-banner {
    height: auto;
    margin-bottom: 0;
    .wts-acc-bnr-img {
      margin: $wts-spacing-inner-primary auto 0 auto;
    }
    .wts-acc-bnr-content {
      padding: 0 $wts-spacing-inner-primary $wts-spacing-inner-primary $wts-spacing-inner-primary;
      .wts-acc-bnr-summary {
        flex: none;
        width: 100%;
        display: block;
      }
    }
  }
  .wts-main-wrap {
    flex-direction: column-reverse!important;
    &> div:first-child {
      margin-bottom: 0!important;
      margin-top: $wts-spacing-inner-primary!important;
    }
  }
  .cdk-overlay-pane {
    width: 90%!important;
    max-width: 100%!important;
    .mat-dialog-content {
      padding: 0!important;
    }
  }
  .wts-image-uploader {
    height: auto;
  }
  .wts-footer {
    padding: $wts-spacing-inner-primary + 10!important;
    .wts-footer-social {
      ul {
        display: flex!important;
        justify-content: center;
        width: 100%;
        li {
          &:first-child {
            margin-left: 0!important;
          }
        }
      }
    }
  }
  .wts-card {
    padding: $wts-spacing-inner-primary!important;
  }
  app-wts-itinerary-block {
    width: 100%;
  }
}

.mat-progress-bar-fill::after {
  background: linear-gradient(45deg, transparent, $wts-color-primary, transparent);
}


@media print {
  body * {
    visibility: hidden;
  }
  #bookingReceipt {
    visibility: visible!important;
  }
}