@import "variables";

.wts-account {
  padding: $wts-spacing-inner-primary;
}
.wts-sumtabs {
  height: 130px;
  -webkit-transition: height $wts-time-animation-primary;
  -moz-transition: height $wts-time-animation-primary;
  -ms-transition: height $wts-time-animation-primary;
  -o-transition: height $wts-time-animation-primary;
  transition: height $wts-time-animation-primary;
  &.wts-sumtabs-expanded {
    height: 500px;
    -webkit-transition: height $wts-time-animation-primary;
    -moz-transition: height $wts-time-animation-primary;
    -ms-transition: height $wts-time-animation-primary;
    -o-transition: height $wts-time-animation-primary;
    transition: height $wts-time-animation-primary;
    .wts-sumtab-active {
      -webkit-box-shadow: 0 -8px 13px $wts-color-shadow-primary;
      -moz-box-shadow: 0 -8px 13px $wts-color-shadow-primary;
      box-shadow: 0 -8px 13px $wts-color-shadow-primary;
      &:hover {
        -webkit-box-shadow: 0 -8px 13px $wts-color-shadow-primary;
        -moz-box-shadow: 0 -8px 13px $wts-color-shadow-primary;
        box-shadow: 0 -8px 13px $wts-color-shadow-primary;
      }
    }
  }
  .wts-textbox {
    padding: $wts-spacing-inner-primary;
    .wts-textbox-icon {
      color: $wts-color-primary;

    }
  }
  .-body {
    padding: $wts-spacing-inner-primary 0;
    .wts-booking-block {
      position: relative;
      padding: $wts-spacing-inner-secondary $wts-spacing-inner-primary $wts-spacing-inner-secondary $wts-spacing-inner-secondary;
      background: $wts-color-highlight-lightgray;
      .mat-icon {
        position: absolute;
        top: -5px;
        left: 5px;
        width: 40px;
        height: 40px;
        font-size: 40px;
        color: $wts-color-primary-light;
      }
      h4 {
        margin-top: 0;
        padding-left: $wts-spacing-inner-primary * 3;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .wts-sumtabs {
    padding: 0;
  }
}